<section class="block wrapper">
    <header class="block__header">
        <h2 class="block__heading">LIMITLESS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum natus voluptatum quis explicabo, repudiandae molestias, a unde illum neque corrupti, ipsam incidunt deleniti quam iure! Quaerat rem dolorum explicabo maxime.</p>
        <div style="width:30%">
            <div class="plan plan--popular">
                <div class="card card--primary">
                    <header class="card__header">
                        <h3 class="plan__name">Basic</h3>
                        <span class="plan__price">1$</span>
                        <span class="plan__billing">/month</span>
                        <span class="badge badge--primary">10% Off</span>
                        <span class="plan__description"> Cheap and safe, for personal use only Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem facilis ipsum sapiente cum, reiciendis cumque explicabo tempore accusantium iste, rem ut, aperiam error. Officiis eius quas iste. Reiciendis, repellat nesciunt.</span>
                    </header>
                    <div class="card__body"><ul class=" lists ">
                        <li class="list--tick lists__item">Item 1</li>
                        <li class="list--tick lists__item">Item 2</li>
                        <li class="list--tick lists__item">Item 3</li>
                    </ul> 
                    <button class="btn btn-block  outline-buttons">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>

<section class="block  block--dark block_clipped_right">
    <div class="wrapper">
        <header class="block__header">
            <h2 class="block__heading">LIMITLESS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum natus voluptatum quis explicabo, repudiandae molestias, a unde illum neque corrupti, ipsam incidunt deleniti quam iure! Quaerat rem dolorum explicabo maxime.</p>
        
        </header>
    </div>
</section>

<section class="block block--dark block_clipped_left">
    <div class="wrapper">
        <header class="block__header">
            <h2 class="block__heading">LIMITLESS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum natus voluptatum quis explicabo, repudiandae molestias, a unde illum neque corrupti, ipsam incidunt deleniti quam iure! Quaerat rem dolorum explicabo maxime.</p>
        </header>
    </div>

</section>