<section >
    <header class="block__header">
        <h2 class="block__heading">LIMITLESS towards greatness</h2>
        <p class=>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </header>
    <div class="block__features grid grid--col2 block__feature">
        <div>
            <span class="icon-container icon-container--background">
                <span class="icon bg-growth">
                </span></span>
            <h3 class="block__heading feature--heading">Super easy analysis and analytics</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ratione voluptas, eligendi vel enim quaerat harum commodi quia corrupti tempora explicabo facilis molestiae neque non fugiat totam? Aliquam, blanditiis fugiat!</p>
            <a href="" class="link-learn" alt="">Learn More</a>
        </div>
        <div>
            <div class="feature_imagealignment">
                <img class="contain__featureimage" src="images/analysis.png">
            </div>
        </div>
    </div>
</section>


<section >
    <div class="block__features grid grid--col2 block__feature">
        <div class="feature__content">
            <div class="feature_imagealignment"><img class="contain__featureimage" src="images/security_lock.png"></div>
        </div>

        <DIV class="feature__content">
            <span class="icon-container icon-container--background">
                <span class="icon bg-fingerprint">
                </span></span>
            <h3 class="block__heading feature--heading">Super easy analysis and analytics</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ratione voluptas, eligendi vel enim quaerat harum commodi quia corrupti tempora explicabo facilis molestiae neque non fugiat totam? Aliquam, blanditiis fugiat!</p>
            <a href="" class="link-learn" alt="">Learn More</a>
        </DIV>
    </div>

</section>