<div class="callout callout--primary">
    <div class="grid grid--col2">
        <div class="callout__text">
            <h2 class="callout_heading">Ready to get Started</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque alias est, asperiores fugit veritatis tempora delectus modi nostrum illo porro sed praesentium architecto cupiditate, eius eum deleniti, unde totam exercitationem?</p>
        </div>
        <a class="btn btn--stretch button--accent ">Primary</a>
    </div>
</div>