
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible_heading">Item 1</h2>
        <!--Icon-->
        <span class="icon-container chevron"><img class="collapsible_chevron" src="images/down.png" alt="Drop Down"/></span>
    </header>
    <div class="content__collapsible">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, temporibus dolorum voluptas asperiores hic corrupti culpa quisquam. Assumenda, iste architecto repudiandae ipsa tempora nihil, fuga, nobis cum maxime accusantium optio.</div>
</div>
<script src="js/main.js"></script>