<footer class="block block--dark block__footer footer">
    <div class="container grid">
        <section class="collapsible collapsible--expanded footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">Legal</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>
            <div class="content__collapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">Privacy Policy</a></li>
                    <li class="footer--list_item"><a href="/">Terms and conditions</a></li>
                    <li class="footer--list_item"><a href="/">Sources</a></li>
                </ul>
            </div>
        </section>

        <section class="collapsible  footer__section ">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">Server Types</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>
            <div class="content__collapsible footer__content--colapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">General type Instance</a></li>
                    <li class="footer--list_item"><a href="/">Compute Optimized</a></li>
                    <li class="footer--list_item"><a href="/">Memmory Optimized</a></li>
                    <li class="footer--list_item"><a href="/">Storage Optimized</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible  footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">Purchace Plans</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>
            <div class="content__collapsible footer__content--colapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">On demand</a></li>
                    <li class="footer--list_item"><a href="/">Reserved Instances</a></li>
                    <li class="footer--list_item"><a href="/">Spot Instances</a></li>
                    <li class="footer--list_item"><a href="/">Dedicated Host</a></li>
                    <li class="footer--list_item"><a href="/">Dedicated Instance</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible  footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">Storage Types</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>            
            <div class="content__collapsible footer__content--colapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">EBS Volumes</a></li> <!--I could make them expandable-->
                    <li class="footer--list_item"><a href="/">EFS Volumes</a></li>
                    <li class="footer--list_item"><a href="/">EBS vs EFS</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible  footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">Load Balancers</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>
            <div class="content__collapsible footer__content--colapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">Classic Load Balancer</a></li> <!--I could make them expandable-->
                    <li class="footer--list_item"><a href="/">Application Load Balancer</a></li>
                    <li class="footer--list_item"><a href="/">Network Load Balancer</a></li>
                    <li class="footer--list_item"><a href="/">Gateway Load Balancer</a></li>
                </ul>
            </div>
        </section>

        <section class="collapsible  footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">Relational Databadse Services</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>
            <div class="content__collapsible footer__content--colapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">Aurora</a></li> <!--I could make them expandable-->
                    <li class="footer--list_item"><a href="/">Maria</a></li>
                    <li class="footer--list_item"><a href="/">Oracle</a></li>
                    <li class="footer--list_item"><a href="/">MS SQL</a></li>
                    <li class="footer--list_item"><a href="/">MySQL</a></li>
                </ul>
            </div>
        </section>

        <section class="collapsible  footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">DNS Services</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>
            <div class="content__collapsible footer__content--colapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">Route 53</a></li> <!--I could make them expandable-->
                    <li class="footer--list_item"><a href="/">Cloudflare DNS</a></li>
                    <li class="footer--list_item"><a href="/">GoDaddy Premium</a></li>
                    <li class="footer--list_item"><a href="/">Google Cloud</a></li>
                    <li class="footer--list_item"><a href="/">Blox One</a></li>
                </ul>
            </div>
        </section>

        <section class="collapsible  footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">Content Delivery</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>
            <div class="content__collapsible footer__content--colapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">RackSpace</a></li> <!--I could make them expandable-->
                    <li class="footer--list_item"><a href="/">CloudFlare</a></li>
                    <li class="footer--list_item"><a href="/">Akamai</a></li>
                    <li class="footer--list_item"><a href="/">Microsoft Azure</a></li>
                    <li class="footer--list_item"><a href="/">Limelight</a></li>
                </ul>
            </div>
        </section>

        <section class="collapsible  footer__section">
            <div class="collapsible__header">
                <h2 class="collapsible_heading footer_heading">Applications Firewall</h2>
                <!--Icon-->
                <span class="icon-container chevron">
                    <span class="collapsible_chevron collapsible_chevron--footer icon bg-down" ></span>
                </span>
            </div>
            <div class="content__collapsible footer__content--colapsible">
                <ul class="lists">
                    <li class="footer--list_item"><a href="/">Aurora</a></li> <!--I could make them expandable-->
                    <li class="footer--list_item"><a href="/">Maria</a></li>
                    <li class="footer--list_item"><a href="/">Oracle</a></li>
                    <li class="footer--list_item"><a href="/">MS SQL</a></li>
                    <li class="footer--list_item"><a href="/">MySQL</a></li>
                </ul>
            </div>
        </section>

    </div>
    <section class="footer__logo">
        <span class="icon-container">
            <span class="icon icon--footer bg-unicorn">
            </span></span>
            <p class="footer_copyright">Copyright 2020 Cristina Soltoianu</p>
    </section>
</footer>