<div style="width:30%">
    <div class="plan plan--popular">
        <div class="card card--primary">
            <header class="card__header">
                <h3 class="plan__name">Basic</h3>
                <span class="plan__price">1$</span>
                <span class="plan__billing">/month</span>
                <span class="badge badge--primary">10% Off</span>
                <span class="plan__description"> Cheap and safe, for personal use only Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem facilis ipsum sapiente cum, reiciendis cumque explicabo tempore accusantium iste, rem ut, aperiam error. Officiis eius quas iste. Reiciendis, repellat nesciunt.</span>
            </header>
            <div class="card__body"><ul class=" lists ">
                <li class="list--tick lists__item">Item 1</li>
                <li class="list--tick lists__item">Item 2</li>
                <li class="list--tick lists__item">Item 3</li>
            </ul> 
            <button class="btn btn-block  outline-buttons">Buy Now</button>
            </div>
        </div>
    </div>
</div>
<div style="width:30%">
    <div class="plan  ">
        <div class="card card--secondary">
            <header class="card__header">
                <h3 class="plan__name">Proffesional</h3>
                <span class="plan__price">20$</span>
                <span class="plan__billing">/month</span>
                <span class="badge badge--secondary badge--small">30% Off</span>
                <span class="plan__description">Choose up to 20 services for your business. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, hic eius aperiam earum ratione praesentium itaque, reprehenderit rem deleniti repellat facere. Ab iusto minima a fugit. Reiciendis error consequatur quo.</span>
            </header>
            <div class="card__body"><ul class=" lists ">
                <li class="list--tick lists__item">Item 1</li>
                <li class="list--tick lists__item">Item 2</li>
                <li class="list--tick lists__item">Item 3</li>
            </ul> 
            <button class="btn btn-block  outline-buttons">Buy Now</button>
            </div>
        </div>
    </div>
</div>