<section class="block container block-domain">
    <header class="block__header">
        <h2>Starting at 1$ per month</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, odit nobis! </p>
        </header>
        <div class="container input-group">
            <input type="text" class="textinput" placeholder="Search for..."/>
            <button class="btn button--accent">
                <span class="icon-container">
                <span class="icon bg-search">
                </span></span>
                <span class="search_button--text">Search</span></button>
        </div>
        <div class="block">
            <ul class="lists block-domain__price">
                <li><span class="badge badge--secondary">Item 70$</span></li>
                <li><span class="badge badge--secondary">Item 65$</span></li>
                <li><span class="badge badge--secondary">Item 7$</span></li>
                <li><span class="badge badge--secondary">Item 9$</span></li>
                <li><span class="badge badge--secondary">Item 7$</span></li>
                <li><span class="badge badge--secondary">Item 40$</span></li>
            </ul>
        </div>
        
    </section> 