    <section class="block container block-domain">
    <header class="block__header">
        <h2>Starting at 1$ per month</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, odit nobis! </p>
        </header>
        <div class="container input-group">
            <input type="text" class="textinput" placeholder="Search for..."/>
            <button class="btn button--accent">
                <span class="icon-container">
                <span class="icon bg-search">
                </span></span>Search</button>
        </div>
        <ul class="lists block-domain__price">
            <li><span class="badge badge--secondary">coffe 70$</span></li>
            <li><span class="badge badge--secondary">tea 65$</span></li>
            <li><span class="badge badge--secondary">grean tea 7$</span></li>
            <li><span class="badge badge--secondary">offer 9$</span></li>
            <li><span class="badge badge--secondary">pie 7$</span></li>
            <li><span class="badge badge--secondary">cookies 40$</span></li>
        </ul>
        
    </section> 