<section class="block block--dark block_clipped_left block__showcase">
    <header class="block__header">
        <h2 class="block__heading">Dedicated data engineers and scientists</h2>
    </header>
    <div class="grid grid--col2 block__feature block__showcase">
        
         
        <picture class="block_showcase_image" >
            <source 
            type="image/webp"
            srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
            />
            <source type="image/png"
            
            srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
            />
            
            <img src="images/ipad.webp" alt="iPad">
        </picture>


        <div>
            <ul class="lists">
                <il>
                    <footer>
                        <div class="media">
                            <div class="meadia__image">
                                <span class="icon-container icon-container--background"><span class="icon  bg-choose"></span></span>
                                </div>
                                <div class="media__body">
                                    <h3 class="media__title quote__author">Choose the best options for your business</h3>
                                    <p class="media__company quote_organization">Deconstruct and strip away the hay.</p>
                                </div>
                         </div>
                    </footer>
                </il>
                <il>
                    <footer>
                        <div class="media">
                            <div class="meadia__image">
                                <span class="icon-container icon-container--background"><span class="icon  bg-wordpress"></span></span>
                                </div>
                                <div class="media__body">
                                    <h3 class="media__title quote__author">Full support on your WebPress website </h3>
                                    <p class="media__company quote_organization">No backend intervention needed, we take care of all the headaches</p>
                                </div>
                         </div>
                    </footer>
                </il>
                <il>
                    <footer>
                        <div class="media">
                            <div class="meadia__image">
                                <span class="icon-container icon-container--background"><span class="icon  bg-monitor"></span></span>
                                </div>
                                <div class="media__body">
                                    <h3 class="media__title quote__author">Fully automated and fully dedicated to your needs </h3>
                                    <p class="media__company quote_organization">Your want list is our to do list. </p>
                                </div>
                         </div>
                    </footer>
                </il>
            </ul>
        </div>

</section>