<div class="card testimonial ">
    <div class="grid grid--col2 ">
        <div class="testimonial__image">
            <img  src="images/happy-girl.jpg" alt="Happy, beautiful customer"/>
            <span class="icon-container icon-small"><span class="icon bg-quotes"></span></span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sed perspiciatis excepturi architecto harum, ipsum doloribus in officiis voluptatum mollitia, a quasi velit consequuntur magni? Reprehenderit hic atque recusandae tempora?</p>
            <footer>
                <div class="media">
                    <div class="meadia__image">
                        <span class="icon-container"><span class="icon quote--line bg-line"></span></span>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title quote__author">Jane Doe</h3>
                            <p class="media__company quote_organization">Company Name</p>
                        </div>
                 </div>
            </footer>
        </blockquote>
    </div>
</div>