<section class="block block--dark block_clipped_right hero">
    <div class="container grid grid--col2">
        <header class="hero__content">
            <h1 class="hero__header">Expert consulting for your firm</h1>
            <p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore corrupti eum maxime soluta dicta.</p>
            <a href="#" class="btn button--primary btn--stretch ">Get Started</a>
        </header>
        <div class="hero__content"><div class="contain_heroimage"><img src="images/data-center.png" alt="Machines accessing server"></div></div>
    </div>    
</section>